@font-face {
    font-family: 'Jersey 25';
    src: url('Jersey25-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'Klimaks';
    src: url('KlimaksBold-4B50D.otf') format('opentype');
}

body {
    background-color: black;
    color: white;
}

.case {
    float: left;
    padding-right: 3vh;
    width: 85vh;
    margin-top: 11vw;
    margin-left: 0vh;
}

.cooling {
    float: left;
    margin-left: -40vh;
    margin-right: -70vh;
    padding-right: 4vw;
    margin-top: 3vh;
    width: 168vh;


}

.cpu {
    float: left;
    margin-left: 8vh;
    margin-right: 2vh;
    padding-right: 3vw;
    margin-top: 20vh;
    width: 45vh;


}

.gpu {
    rotate: 90deg;
    float: left;
    margin-top: 18vw;
    margin-right: -30vh;
    margin-left: -30vh;
    padding-right: 20vh;
    width: 110vh;

}

.mb {
    float: left;
    margin-left: -5vh;
    padding-right: 9vh;
    width: 80vh;
    margin-top: 20vh
}

.os {
    float: left;
    margin-top: 10vw;
    padding-left: 3vh;
    padding-right: 4vh;
    width: 70vh;
}

.psu {
    float: left;
    padding-left: 3vh;
    padding-right: 4vh;
    width: 60vh;
    margin-top: 27vh
}

.ram {
    rotate: 270deg;
    float: left;
    margin-left: -20vh;
    padding-right: 4vh;
    width: 78vh;
    margin-top: 15vh
}

.ssd {
    rotate: 270deg;
    float: left;
    margin-left: -35vh;
    margin-right: -30vh;
    padding-right: 4vh;
    width: 100vh
}


.bigtext {
    font-family: 'Jersey 25';
    font-size: 5vh;
    text-align: center;


}

.smalltext {
    font-family: 'Klimaks', 'Times New Roman', Times, serif;
    font-size: 2.4vh;

}

.list {

    font-family: 'Klimaks', 'Times New Roman', Times, serif;
    font-size: 2.4vh;
    text-align: start
}

.parentdiv {
    padding: 10px;
    margin-left: 18vh;
}