.black {

    padding-right: 5vw;
    padding-left: 30vw;
    padding-top: 2vh;
    padding-bottom: 2vh;
    background-color: black;
}

.gray {
    border-image: radial-gradient(circle, rgba(130, 143, 83, 1) 0%, rgba(55, 116, 113, 1) 100%)1;
    border-width: 10px;
    border-style: solid;
    border-left: none;
    border-right: none;
    padding-right: 5vw;
    padding-left: 30vw;
    padding-top: 2vh;
    padding-bottom: 2vh;
    background-color: #222;
}

.ltgray {
    padding-right: 5vw;
    padding-left: 30vw;
    padding-top: 2vh;
    padding-bottom: 2vh;
    background-color: #555;

}